<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/com/buaa/mooc/entity/Group.hbm.xml</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file/>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseInfo</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.AddCourseInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherHome</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.TeacherHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherCourse</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.TeacherCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Semester</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.SemesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EduAdminHome</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.EduAdminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSemester</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.AddSemesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSemester</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.DeleteSemesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherHomework</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.TeacherHomeworkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHomework</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.AddHomeworkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHomework</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentHomeworkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHome</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherHomeworkEdit</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.TeacherHomeworkEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EduAdminCourse</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.EduAdminCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EduAdminCourseInfo</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.EduAdminCourseInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentInfo</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.AddStudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherHomeworkDel</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.TeacherHomeworkDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentCourse</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRecourse</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentRecourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHomeworkView</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentHomeworkViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EduAdminDeleteCourse</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.EduAdminDeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentGroupHome</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentGroupHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentMyGroup</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentMyGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentJoinGroup</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentJoinGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentJoinToGroup</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentJoinToGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentGroupCheck</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentGroupCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdateGroupContribute</servlet-name>
        <servlet-class>com.buaa.mooc.servlet.StudentUpdateGroupContributeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourseInfo</servlet-name>
        <url-pattern>/addCourseInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherHome</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherCourse</servlet-name>
        <url-pattern>/teacherCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Semester</servlet-name>
        <url-pattern>/semester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EduAdminHome</servlet-name>
        <url-pattern>/eduadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSemester</servlet-name>
        <url-pattern>/AddSemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSemester</servlet-name>
        <url-pattern>/DeleteSemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherHomework</servlet-name>
        <url-pattern>/TeacherHomework</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHomework</servlet-name>
        <url-pattern>/AddHomework</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHomework</servlet-name>
        <url-pattern>/StudentHomework</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHome</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherHomeworkEdit</servlet-name>
        <url-pattern>/TeacherHomeworkEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EduAdminCourseInfo</servlet-name>
        <url-pattern>/EduAdminCourseInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EduAdminCourse</servlet-name>
        <url-pattern>/EduAdminCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCourse</servlet-name>
        <url-pattern>/StudentCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRecourse</servlet-name>
        <url-pattern>/StudentRecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentInfo</servlet-name>
        <url-pattern>/AddStudentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHomeworkView</servlet-name>
        <url-pattern>/StudentHomeworkView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherHomeworkDel</servlet-name>
        <url-pattern>/TeacherHomeworkDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EduAdminDeleteCourse</servlet-name>
        <url-pattern>/EduAdminDeleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentGroupHome</servlet-name>
        <url-pattern>/StudentGroupHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentMyGroup</servlet-name>
        <url-pattern>/StudentMyGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentJoinGroup</servlet-name>
        <url-pattern>/StudentJoinGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentJoinToGroup</servlet-name>
        <url-pattern>/StudentJoinToGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentGroupCheck</servlet-name>
        <url-pattern>/StudentGroupCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdateGroupContribute</servlet-name>
        <url-pattern>/StudentUpdateGroupContribute</url-pattern>
    </servlet-mapping>
</web-app>